.home_aboutme{
 
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 2rem;
}