.info__abt, .info__extra{
        display: flex;
        justify-content: center;
        padding: 2rem;
}

.text-btn{
    margin: 2rem;
    color: lightblue;
    text-decoration: none;
}

.btn__li{
    list-style: none;
}

.info__extra{
    color: aliceblue;
    flex-direction: column;
    list-style: circle;
}

.info_content{
    display: flex;
    justify-content: center;

}