.myproyects_list {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}


.proyect_img {
    display: flex;

}

.proyect_img img {
  display: flex;
  width: 600px;
  height: 285px;
  border-radius: 8px;
}

.contenido_proyectos {
  flex: 1 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  margin: 0 2rem;
  }

.contenido_proyectos h4 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  text-align: center;
  align-items: center;
  font-family: monospace, 'Courier New', Courier;
  font-weight: 800;
color: #98649c;  
}
.contenido_proyectos h4:last-child {
    color: #ff8A71;
}
.contenido_proyectos title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}
.contenido_proyectos p {
    color: #8d78a0;
    font-family: var(--font-family);

    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    

    margin-bottom: 2rem;
}

.tercerproyecto, .primerproyecto, .segundoproyecto{
  justify-content: center;
  display: flex;

}

.proyectos_components{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10%;

}


.my-projects-title{
  display: flex;

  margin-bottom: 3rem;

  font-family: "Inter Tight", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: rgb(242, 242, 254);
  background: linear-gradient(to left, #80d7ff 45%, #ad56dd 66%);
  background-clip: text;
  -webkit-text-fill-color: transparent;


  
}


.belo{
  color: blueviolet;
}

a:link{
  text-decoration: none;
  color: aliceblue;
}

.myprojects_p{
width: 270px;  
}

@media screen and (max-width: 844px) {
  .proyect_img img{
    width: 282px;
    height: 132px;
  }
  
  .my-projects-title{
   font-size: 34px;
  }


}